*
{
    background-color: black;
    color: white;
    user-select: none;
    font-family: monospace;
}
#et_nav_title
{
    font-size: x-large;
    text-decoration: underline;
}
a:hover
{
    color: rgb(0, 77, 77);
}
#et_nav_table
{
    border: 1px solid white;
}